/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap");

/*CSS variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --heading-font: "Macondo", cursive;
    --primary-color: #3a2620; /*dark brown*/
    --secondary-color: #aa9581; /*light brown*/
    --highlight-color: #416a8e; /*blue*/
    --light-highlight: #7a9fc2; /*light blue*/
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--highlight-color);
}

/*.container {
    border: 2px solid rgb(11, 6, 6);
}

.col-12 {
    border: 2px solid white;
    background-color: #a6a3a3;
}
*/
