/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap");

/*CSS variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --heading-font: "Macondo", cursive;
    --primary-color: #3a2620; /*dark brown*/
    --secondary-color: #aa9581; /*light brown*/
    --highlight-color: #416a8e; /*blue*/
    --light-highlight: #7a9fc2; /*light blue*/
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}
.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* nav bar css */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* header css */

#header .lead {
    font-family: var(--heading-font);
}

/* services section css */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/*.container {
    border: 2px solid rgb(11, 6, 6);
}

.col-12 {
    border: 2px solid white;
    background-color: #a6a3a3;
}
*/

/* Game library cards */

#new-games .card,
#fav-games .card {
    border: none;
}

/* Footer css */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding: 3rem 0;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--light-highlight);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .socal-links i {
    color: var(--light-highlight);
    font-size: 1.9rem;
}
#contact .socal-links i:hover {
    color: var(--secondary-color);
    transition: 0.5s ease-in-out;
}

#contact a {
    color: ivory;
}

#contact a:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/*media queries */
@media screen and (min-width: 768px) {
    #services .card-body {
        min-height: 200px;
    }
}

@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 220px;
    }
}

@media screen and (min-width: 1400px) {
    #services .card-body {
        min-height: 200px;
    }
}
